<h1>Login success. Welcome, <%=@current_user.username%>. Page placeholder for Thread Page, please remove later (referenced by /sessions/home.html.erb).</h1>

<%= form_tag(:action => 'logout') do %>
	 <%= submit_tag("Log Out") %>
<% end %>